*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden; /* Hide scrollbars */
}
.float_para {
  font-size: 2rem;
  background-color: aquamarine;
  position: sticky;
} 


.web , .cyber , .cloud {
  background-color: antiquewhite;
  margin: 2rem auto 4rem;
  height: 24rem;
  width: 93%;
  border: 2px solid black;
  border-radius: 0.7rem;
  display: flex;
  
}

.ai ,.data {
  background-color:antiquewhite;
  margin: 4rem auto;
  height: 24rem;
  width: 93%;
  display: flex;
  border: 2px solid black;
  border-radius: 0.7rem;
}



.web .text_box ,.ai .text_box ,.data .text_box ,.cyber .text_box ,.cloud .text_box{
  padding: 0 3%;
}


.web .text_box p , .ai .text_box p , .data .text_box p , .cyber .text_box p , .cloud .text_box p{
  font-size: 21px;
}




.com_left img {
  height: 95%;
  width: 30%;
  align-self: center;
  border-radius: 0.7rem;
  margin-left: 0.58rem;
  
}
.com_right img {
  /* margin-left: auto; */
  /* float: right;         float do not work when in flex container therefore use margin-left: auto; */
  height: 95%;
  width: 30%;
  align-self: center;
  /* justify-self: end; */
  border-radius: 0.7rem;
  margin-right: 0.58rem;
}
.com_left:hover , .com_right:hover{
  height: 24.5rem;
  width: 78.5;
  box-shadow: 0 0 5px 5px rgba(22, 20, 21, 0.767);
}


.center_karo {
  margin-left: auto;
  margin-right: auto;
}
.text_box {
  width: 70%;
}
.text_box h1 {
  text-align: center;
  margin-bottom: 0.3rem;
}
.text_box p {
  font-size: 1.2rem;
  text-align: center;
}

footer{
  word-spacing: 5px;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
}
.hacking_video{
  
  width: 80%;
  /* height: 60%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
 
}
.hacking_video video{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
  
}



@media(max-width:1110px) {
  .web, .ai, .data, .cyber, .cloud {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    /* background: transparent;  Optional: just make scrollbar invisible */
}
}

@media(max-width:425px){
   .ai img, .cyber img {
    justify-self: start;
  }
 
  .web, .ai, .data, .cyber, .cloud {
    display: block;
    
  }
  .web img, .ai img, .data img, .cyber img, .cloud img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
  }
  .text_box{
    margin-left: 10%;
  }

  
}